body::before {
    display: block;
    content: '';
    height: 70px;
}


.card:hover {
    transform: scale(1.1);
}


.post:hover {
    /* transform: scale(1.1); */
    opacity: 0.9;
}

.button_width {
    min-width: 120px;
    max-width: 120px;
}

.article-img {
    height: 50px;
    width: 50px;
    margin: 5px;
}



.link {
    text-decoration: none;
}

.nobull {
    list-style-type: none;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}



.container_about {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;
}

.left-column_about {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7ca8e2; /* Set a white background color for the left column */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-column_about {
    background-color: #3b76ad;
    width: 50%;
    padding: 20px;
    overflow-y: scroll;
    max-height: 100vh;
}

.img_about {
    width: 70%;
    margin-bottom: 20px;
}

.h1_about {
    font-size: 2em;
    margin-bottom: 20px;
}

.p_about {
    line-height: 1.5;
    margin-bottom: 20px;
}

.user-img {
    height: 120px;
    width: 120px;
    margin: 5px;
}
