{%extends 'layout.html'%}
{%block content%}
<div class="container_about">
    <div class="left-column_about">
      <h1 class="h1_about">About Us</h1>
      <img class="img_about" src="{{url_for('static', filename='other_images/b686812f6fd4dc7a.jpg')}}" alt="Image about the company">
    </div>
    <div class="right-column_about"">
      <p class="p_about">
        <h2 class="h1_about">who we are</h2>
        who<br> we<br> are<br> as<br> people<br> and<br> group.<br>
        ss<br>
        ss<br><br>
        ss<br><br>
        ss<br><br>
        ss<br><br>
        ss<br><br>
        ss<br><br>
        ss<br><br>
        ss<br><br>
      </p>
      <p class="p_about">
        <h2 class="h1_about">what is the project</h2>
        what<br><br> is <br><br> the <br><br> project<br><br>
      </p>
      <p class="p_about">
        <h2 class="h1_about">ethical info</h2>
        some<br><br> info<br><br> about<br><br> the<br><br> project<br><br> for<br><br> more<br> transparency<br>
      </p>
    </div>
  </div>
  {%endblock content%}