{% extends "layout.html"%}
{% block content %}
<div class="container">
    <div class="row">
        <!-- article contents -->
        <div class="col-lg-8 col-md-12">
            {% block damage %} {% endblock damage %}
            <!--  previous and next damage -->
            <div class="row justify-content-md-center">
                <div class="col-4">
                    {% if previous_damage %}
                    <!--  in the href we want to go to func damage so we need an input damage_id  -->
                    <a 
                        href="{{url_for('damage', damage_id=previous_damage.id)}}">
                        <button class="btn btn-warning" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="previous_damage">
                            &lt&lt&lt Previous damage
                        </button>
                    </a>
                    {% endif %}
                </div>
                <div class="col-4">
                    {% if next_damage %}
                    <a href="{{url_for('damage', damage_id=next_damage.id)}}">
                        <button class="btn btn-warning" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="next_damage">
                            &gt&gt&gt Next damage
                        </button>
                    </a>
                    {% endif %}

                    
                    
                    
                    
                    <!--here we add the offers under the graphs-->



                    {% if damage.offers %}
                    {%for offer in damage.offers%}
                        <div class="col-sm-12 col-md-6 col-lg-4 p-3 d-flex align-items-stretch">
                            <a href="{{url_for('offer', offer_user=offer.company.username ,damage_address=damage.address)}}" class="text-decoration-none">
                                <div class="card bg-dark text-light h-100">
                                    <div class="card-body text-center">
                                        <h3 class="card-title mb-3">
                                            Offer Info: 
                                        </h3>
                                        <hr>
                                        <h4 class="card-title mb-3">
                                            working_days: {{offer.working_days}}
                                        </h4>
                                        <p class="card-text">Cost: {{offer.cost}} $</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- sidebar -->
        <div class="col-4">
            <!-- applier -->
            <div class="my-5">
                <span><img class="article-img"
                        src="{{url_for('static',filename='user_pics/default.png')}}" alt="">By:
                    
                    
                    <!--here we use user_page to show the damages that the user added for other users-->
                    
                    <a href="{{url_for('user_page', username=damage.applier.username)}}" class="link">{{damage.applier.username}}</a>
                    
                </span>
            </div>
            <!-- damage icon -->
            <img src="{{url_for('static', filename='damage_images/'+damage.image_file)}}" alt="" width="300" height="200">
            <br>
            <!-- list of damages types -->
            
            

        </div>
    </div>
    <br>

</div>

{% endblock content%}