{% extends "layout.html"%}
{% block content %}
<div class="container">
    <div class="row">
        <!-- article contents -->
        <div class="col-lg-8 col-md-12">
            {% block damage %} {% endblock damage %}
            <!--  previous and next damage -->
            <div class="row justify-content-md-center">
                
            </div>
        </div>
        <!-- sidebar -->
        <div class="col-4">
            <!-- applier -->
            <div class="my-5">
                <span><img class="article-img"
                        src="{{url_for('static',filename='user_pics/default.png')}}" alt="">By:
                    
                    
                    <!--here we use user_page to show the damages that the user added for other users-->
                    
                    <a href="{{url_for('user_page', username=damage.applier.username)}}" class="link">{{damage.applier.username}}</a>
                    
                </span>
            </div>
            <!-- damage icon -->
            <img src="{{url_for('static', filename='damage_images/'+damage.image_file)}}" alt="" width="300" height="200">
            <br>
            <!-- list of damages types -->
            
            

        </div>
    </div>
    <br>

</div>

{% endblock content%}
