{% extends "dashboard.html"%}
{% block new_damage %}

<div class="{{'tab-pane show active fade p-3' if active_tab=='new_damage' else 'tab-pane fade p-3'}}" id="nav-newdamage"
    role="tabpanel" aria-labelledby="nav-newDamage-tab">
    <form action="/dashboard/new_damage" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag()}}
        <legend class="border-bottom my-3">New Damage</legend>
        <div class="form-group row">
            {{ form.type.label(class='form-control-label')}}
            <div class="col-sm-10">
                {% if form.type.errors %}
                {{ form.type(class='form-control is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.type.errors %}
                    <span>{{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.type(class='form-control', value='will be filled automatically after uploading an image', readonly=True)}}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            {{ form.latitude.label(class='form-control-label')}}
            <div class="col-sm-10">
                {% if form.latitude.errors %}
                {{ form.latitude(class='form-control is-invalid', value='From HomePage Map', readonly=True)}}
                <div class="invalid-feedback">
                    {% for error in form.latitude.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.latitude(class='form-control', value=latitude,  readonly=True)}}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            {{ form.longitude.label(class='form-control-label')}}
            <div class="col-sm-10">
                {% if form.longitude.errors %}
                {{ form.longitude(class='form-control is-invalid', value='From HomePage Map', readonly=True)}}
                <div class="invalid-feedback">
                    {% for error in form.longitude.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.longitude(class='form-control', value=longitude,  readonly=True)}}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            {{ form.address.label(class='form-control-label')}}
            <div class="col-sm-10">
                {% if form.address.errors %}
                {{ form.address(class='form-control is-invalid',value= address_loc)}}
                <div class="invalid-feedback">
                    {% for error in form.address.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.address(class='form-control',value= address_loc )}}
                {% endif %}
            </div>
        </div>
        
        <div class="form-group row">
            {{ form.picture.label(class='form-control-label')}}
            <div class="col-sm-10">
                {% if form.picture.errors %}
                {{ form.picture(class='form-control is-invalid')}}
                <div class="invalid-feedback">
                    {% for error in form.picture.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.picture(class='form-control')}}
                {% endif %}
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-10 pt-1">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </div>
    </form>
    

</div>


{% endblock new_damage %}