{% extends "layout.html"%}
{% block content %}
<div class="container">
    <div class="row">
        <!-- article contents -->
        <div class="col-lg-8 col-md-12">
            {% block offer %} {% endblock offer %}
            <!--  previous and next offer -->
            <div class="row justify-content-md-center">
                
                
            </div>
        </div>
        <!-- sidebar -->
        <div class="col-4">
            <!-- applier -->
            <div class="my-5">
                <span><img class="article-img"
                        src="{{url_for('static',filename='user_pics/default.png')}}" alt="">By:
                    <!--url_for('applier', username=damage.applier.username)-->
                    
                    <a href="#" class="link">{{offer.company.username}}</a>
                    
                </span>
            </div>
            
        </div>
    </div>
    <br>

</div>

{% endblock content%}