{% extends "offer_layout.html"%}
{% block offer %}

<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag()}}
    <legend class="border-bottom my-3">Update Offer</legend>
    <div class="mb-3">
        {{ form.working_days.label(class='form-control-label')}}
        {% if form.working_days.errors %}
        {{ form.working_days(class='form-control is-invalid')}}
        <div class="invalid-feedback">
            {% for error in form.working_days.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.working_days(class='form-control')}}
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.cost.label(class='form-control-label')}}
        {% if form.cost.errors %}
        {{ form.cost(class='form-control is-invalid')}}
        <div class="invalid-feedback">
            {% for error in form.cost.errors %}
            <span>{{ error }} </span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.cost(class='form-control')}}
        {% endif %}
    </div>
    
    
    <div class="col-12">
        <input type="submit" value="Submit"/>
    </div>
</form>

{% endblock offer %}